@model IEnumerable<PuppySmile.Core.Dog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Breed.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shelter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availability)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DogId })
        </td>
    </tr>
}

</table>
